<div class="card row mb-3 col-12">
  <div class="row col-12 mt-2">
    <div class="col-4">
      <img width="100%" [src]="'http://localhost:5000/static/images/'+restaurant.image" >
    </div>
    <div class="col-6 d-flex justify-content-end">
      <div class="d-flex flex-column justify-content-center">
        <a class="text-info" [routerLink]="['/restaurants/menu', restaurant.id]">Show menu</a>
        <a class="text-info" [routerLink]="['/restaurants/orders', restaurant.id]">Show Recieved Orders</a>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="card-body m-0">
      <div class="row d-flex justify-content-between mb-5">
        <div>
          <h3 class="card-title">{{ restaurant.name }}</h3>
          <p class="card-text">{{ restaurant.city }}</p>
          <div>
            <span *ngFor="let star of yellowStars">
              <i class="fas fa-star yellow-star"></i>
            </span>
            <span *ngFor="let star of darkStars"><i class="fas fa-star"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around">
         <!-- Button trigger modal -->
         <a class="text-primary" data-toggle="modal" data-target="#restaurantEditForm" *ngIf="isAdmin" (click)="onEditMode()">
          <i class="fas fa-edit mr-1"></i>
          Edit
        </a>

        <a class="text-danger mr-1" *ngIf="isAdmin" (click)="onDelete()">Delete</a>
        <div>
          <a class="text-warning" (click)="ratingMode=!ratingMode">Rate</a>
          <div class="rating-popover row d-flex flex-column align-items-center justify-content-center" *ngIf="ratingMode">
            <span>Rate the restaurant</span>
            <input type="number" min="1" max="5" class="rating" name="rating" [(ngModel)]="rating">
            <a class="text-info pt-1" (click)="onRating()">Submit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
